<!doctype html>
<html lang="en" ng-app="bookingApp">
<head>
    <meta charset="UTF-8">
    <title>Booking Service</title>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="app.js"></script>
    <script src="script.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css"/>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="main.css"/>
</head>
<body ng-controller="SearchController as search" ng-init="search.initQuery()">
<div id="bookingRoot" ng-controller="TabController as tabCtrl" ng-init="tabCtrl.current = 0" class="container">
    <div class="row">
        <!--Tabs-->
        <div class="col-xs-4 col-md-2">
            <ul class="nav nav-tabs nav-stacked">
                <!--MV1: How would you DRY this up?-->
                <!--Answer: Create array with tabs objects and use ng-repeat-->
                <li ng-repeat="tab in tabCtrl.tabs" ng-class="{active: tabCtrl.isSet($index)}">
                    <a href="#" ng-click="tabCtrl.setTab($index); search.query.type = tab.searchType">
                        <i class="fa fa-{{icons[tab.searchType]}}"></i> {{tab.title}}
                    </a>
                </li>
            </ul>
        </div>
        <!--Tabs Content-->
        <form ng-submit="search.newSearch()">
            <div class="tab-content col-xs-6 col-md-6">
                <div class="form-group row">
                    <div class="col-xs-6 col-md-6">
                        <label for="inputStartDate">Start date</label>
                        <div id="datePickerWrapper1">
                            <input type="text" class="form-control" id="inputStartDate" ng-model="search.query.startDate" placeholder="select date" ng-required="true">
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <label for="inputEndDate">End Date</label>
                        <div id="datePickerWrapper2">
                            <input type="text" class="form-control" id="inputEndDate" ng-model="search.query.endDate" placeholder="select date" ng-required="true">
                        </div>
                    </div>
                </div>
                <!--MV2: How would your approach change if there were more tabs / tab-specific fields? -->
                <!--Answer: We need to implement more scalable approach like this -->
                <div class="form-group" ng-repeat="tab in tabCtrl.tabs" ng-show="tabCtrl.isSet($index)">
                    <ng-include src="tab.contentUrl"></ng-include>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default pull-right">Search</button>
                    <a class='btn pull-right' ng-click="search.resetQuery()" href="#">Clear</a>
                </div>
            </div>
        </form>
    </div>
    <hr/>
    <div class="row width70" ng-show="search.history.length">
        <h4>Previous searches</h4>
            <div class='row' ng-repeat="pastQuery in search.history track by $index">
                <div class="col-xs-1 col-md-1">
                    <!--MV3: How would your approach change if there were more tabs? -->
                    <!--Answer: We can use constant object with icons name for each type/tab-->
                    <i class="fa fa-{{icons[pastQuery.type]}}"></i>
                </div>
                <div class="col-xs-4 col-md-4">
                    {{pastQuery.dates}}
                </div>
                <div class="col-xs-3 col-md-4">
                    {{pastQuery.option1}}
                </div>
                <div class="col-xs-3 col-md-2">
                    {{pastQuery.option2}}
                </div>
                <div class="col-xs-1 col-md-1">
                    <a href="#" ng-click="search.removeQueryFromHistory($index)"><i class="fa fa-times"></i></a>
                </div>
            </div>
    </div>
</div>
</body>
</html>
